body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height: 100vh;
    color: black;
    font-family: "Merriweather", serif;
    min-height: 100vh;
}

/* Barre de navigation ================================================================================================================================================ */

header {
    width: 100%;
    height: 150px;
    z-index: 1;
    position: relative;
}

#navbar {
    position: fixed;
    padding-top: 35px;
    padding-bottom: 27px;
    z-index: 1;
    display: grid;
    background-color: #003c5a;
}

.liste a {
    color: rgb(35, 120, 162);
}

.liste a:hover {
    color: white;
}

.num,
#langerba {
    color: white;
}

.num:hover {
    color: rgb(214, 131, 71);
}

nav {
    display: grid;
    background-color: #003c5a;
}

ul {
    list-style-type: none;
    margin: 0%
}

/* Première section ================================================================================================================================================ */

.open {
    background-image: url(background_earth.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color: rgb(0, 60, 90);
    text-align: center;
    height: 708px;
    color: white;
}

.open .open-content h1 {
    font-size: 3.2em;
}

.open .open-content p {
    color: rgb(102, 184, 224);
    font-size: 1.1em;
}

.register,
.course {
    background-color: rgb(252, 143, 68);
    border-style: none;
    border-radius: 50px;
    height: 50px;
    width: 220px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.register:focus {
    outline-style: none;
}

.register:hover,
.course:hover {
    background-color: rgb(253, 164, 104);
    border-style: none;
    cursor: pointer;
}


.open .open-content .button {
    margin-top: 20px;
}

.open .open-content {
    padding-top: 6rem;
}

.thin-icon-briefcase-2 {
    content: '\e818';
    font-weight: 400;
    font-family: "Thin Regular";
}

@media screen and (max-width: 1200px) {
    .open {
        max-width: 1200px;
        height: 650px;
    }
}

@media screen and (max-width: 1024px) {
    .open {
        max-width: 1024px;
        max-height: 550px;
    }

    .open .col-xl-8 h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 768px) {
    .open {
        max-width: 768px;
        max-height: 450px;
    }

    .open .col-xl-8 h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 574px) {
    .open {
        max-width: 576px;
        max-height: 350px;
    }

    .open .col-xl-8 h1 {
        font-size: 1.8em;
    }

}

/* Seconde section ================================================================================================================================================ */

.edition_text,
.edition_foreign_img {
    padding-left: 0;
    padding-right: 0;
}

.edition_text {
    height: 80%;
}

.background_studying {
    background-color: rgb(237, 244, 248);
    height: 693px;
}

.background_studying p {
    color: rgb(176, 179, 181);
    font-size: 1.1em;
}

.background_studying .container, .background_studying .row  {
    height: 100%;
}

.background_studying h2 {
    font-size: 2.7em;
}
.background_studying h3 {
    font-size: 2.2em;
    color: #555555;
}

/* sixieme section de la page ========================================================================================================================== */

/* Troisème section ================================================================================================================================================ */


/* .test:before {
    content: url(img/web.png);
    width: 65px;
    height: 65px;
  } */

  /* .icon {
      float: left;
  } */

  .background_reasons p {
      color: rgb(176, 179, 181);
  }

/* Quatrième section ================================================================================================================================================ */

.background_book_center {
    background-color: rgb(234, 242, 246);
    height: 700px;
}

.background_mail button {
    outline-style: none;
}

.background_book_center .container,
.background_book_center .row {
    height: 100%;
}

.our_book {
    height: 60%;
}

/* Cinquième section ================================================================================================================================================ */

.background_mail {
    background-color: rgb(0, 60, 90);
    color: white;
    height: 400px;
}

.h3_fifth_section {
    font-size: 1em;
    color: #adc9f5;
}

input {
    border-radius: 50px;
    border-style: none;
    height: 50px;
    width: 500px;
    outline-style: none;
}

.get_mail {
    text-align: center;
}

.background_mail .column {
    height: 60% !important;
}

.get_mail h2 {
    font-size: 2.8em;
}

.get_mail h3 {
    font-size: 1.2em;
}

.course {
    width: 250px;
}

/* Sixième section ================================================================================================================================================ */

#containerstudent {
    height: 100%;
    /* padding-top: 30px;
    padding-bottom: 30px */
}

.student {
    background-color: #e76e33;
    height: 500px;
}

.carousel-indicators>li {
    background-color: #f38b59;
    border-radius: 50%;
    width: 12px;
    height: 12px;

}

.guillemet {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center
}

.carousel-indicators li:hover {
    background-color: white;
    transition: 0.3s all;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    width: 60%;

}

#texte {
    text-align: center;
}

#carouselIndicators {
    height: 80%;
}

/* * {
    box-sizing: content-box !important;
} */

/* Bouton pour remonter ================================================================================================================================================ */

.back_top {
    position: fixed;
    bottom: 40px;
    float: right;
    right: 40px;
    /* max-width: 30px; */
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(252, 143, 68);
    border-style: none;
    border-radius: 50%;
    padding: 10px 0 0 18px;
    color: white;
}

a:link {
    text-decoration: none;
}

.back_top:hover {
    background-color: rgb(252, 128, 43);
    color: white;
}

/* footer ========================================================================================================================== */


#navbarfooter {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.829);
    margin: 0%;
    padding: 0%;
}

#containerfooter {
    border-bottom: white;

}

#navbar-text i:hover {
    color: #f38b59;
    transition: 0.5s all;
}

#privacy{
    color: white;
}

#privacy:hover {
    color: #f38b59;
    transition: 0.5s all; 
}