
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height: 100vh;
    color: black;
    min-height: 100vh;
}

/* Barre de navigation ================================================================================================================================================ */

header {
    height: 150px;
}
#navbar {
position: fixed;
padding-top: 35px;
padding-bottom: 27px;
}
nav {
    display: grid;
    background-color: #003c5a;
}
ul {
    list-style-type: none;
    margin: 0%
}

/* Première section ================================================================================================================================================ */

.open {
    background-image: url(background_earth.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color: rgb(0,60,90);
    text-align: center;
    height: 708px;
    color: white;
}

.open .open-content h1 {
    font-size: 3.2em;
}

.open .open-content p {
    color: rgb(102,184,224);
    font-size: 1.1em;
}

.register {
    background-color: rgb(252, 143, 68);
    border-style: none;
    border-radius: 50px;
    height: 50px;
    width: 220px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.register:hover {
    background-color: rgb(253, 164, 104);
    border-style: none;
    cursor: pointer;
}


.open .open-content .button {
    margin-top: 20px;
}

.open .open-content {
    padding-top: 6rem;
}

.thin-icon-briefcase-2 {
    content: '\e818';
    font-weight: 400;
    font-family: "Thin Regular";
}

@media screen and (max-width: 1200px) {
    .open {
        max-width: 1200px;
        height: 650px;
    }
}

@media screen and (max-width: 1024px) {
    .open {
        max-width: 1024px;
        max-height: 550px;
    }
    .open .col-xl-8 h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 768px) {
    .open {
        max-width: 768px;
        max-height: 450px;
    }
    .open .col-xl-8 h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 574px) {
    .open {
        max-width: 576px;
        max-height: 350px;
    }
    .open .col-xl-8 h1 {
        font-size: 1.8em;
    }
}

/* Seconde section ================================================================================================================================================ */

.edition_text, .edition_foreign_img{
    padding-left: 0;
    padding-right: 0;
}

.edition_text {
    height: 80%;
}

.background_studying{
    background-color: rgb(237, 244, 248);
    height: 693px;
}

.background_studying .container, .background_studying .row  {
    height: 100%;
}

h2 {
    font-size: 2.5em;
}
.h3_second_section {
    font-size: 35px;
    color: #555555;
}